# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Set the default indent style and size for JavaScript and TypeScript files
[*.js]
indent_style = space
indent_size = 2

[*.ts]
indent_style = space
indent_size = 2

# Ignore formatting for files with a .css extension
[*.css]
indent_size = unset

# Additional files or patterns to exclude
# For example, if you have JSX files with inline CSS
[src/**/*.jsx]
indent_size = unset


